div.container {
            font-family: 微软雅黑;
            width: 700px;
            margin: 0px auto;
            border: 1px solid gray;
            line-height: 150%;
        }
        
        .no-thumbs {
            border-bottom: 1px solid #efefef;
        }
        
        .exp-title {
            position: relative;
            padding-top: 21px;
            padding-bottom: 23px;
        }
        
        .clearfix {
            zoom: 1;
        }
        
        .list-icon {
            width: 32px;
            height: 32px;
            position: absolute;
            left: -58px;
            top: 0px;
            font-size: 16px;
            color: #efe;
            text-align: center;
            line-height: 32px;
            background: url(http://img.baidu.com/img/iknow/exp/global/step_ol_bg.png) no-repeat;
        }
        
        div.header {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 0.5em;
            color: white;
            background-color: gray;
            clear: left;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        footer {
            padding: 0.5em;
            color: white;
            background-color: gray;
            clear: left;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        .exp-content-list {
            position: relative;
        }
        
        .exp-info {
            font-weight: 400;
            height: 22px;
            line-height: 22px;
            font: 12px/1.5 arial, "\5b8b\4f53", sans-serif;
        }
        
        h1.header {
            height: 40px;
            font-family: "Microsoft Yahei", 微软雅黑, arial, 宋体, sans-serif;
            background: rgb(101, 102, 109);
            margin: 13px auto 0px;
        }               
        
        div.zhong {
            width: 660px;
            margin: 0;
            padding: 1em;
        }
        
        .clearfix:after {
            clear: both;
            content: '.';
            display: block;
            font-size: 0;
            line-height: 0;
            visibility: hidden;
            height: 0;
        }
        
        div.content {
            margin-left: 190px;
            border-left: 1px solid gray;
            padding: 1em;
        }
        
        ol {
            list-style: none;
        }
        
        .exp-info li{
            float: left;
            list-style-type: none; 
            margin-left: 5px;
        }